html, nav{
  margin:0;
  padding:0;
  text-align:center;
  width:100%;
  height:100%;
}
body{
  position:relative;
  display:inline-block;
  margin:0 auto;
  padding:0;
}

nav{
  display:inline-block;
  position:relative;
  left:10rem;
  bottom:10rem;
  margin-bottom:3em;
  font-family:'Noto Sans KR';
  font-weight:600;
}
section, article, footer{
  display:inline-block;
  font-family:'Noto Sans KR';
  font-weight:600;
}
.App a img{
  display:block;
  position: relative;
  right:22rem;
  width:18rem;
  height:auto;
  padding:3rem;
  margin:0 auto;
}
aside{
  display:inline-block;
}

.loginButton a{
  position: relative;
  top:1em;
  left:20em;
  text-decoration:none;
  font-weight:600;
  color:gray;
}
nav a{
  margin: 0rem 0rem 0rem 1rem;
  display:absolute;
  width:5.0rem;
  height:3rem;
  text-align:center;
  font-size:1.5rem;
  font-family:'Nanum Gothic', sans-serif;
  border-bottom: 4px solid #FFFFFF;
}
nav img{
  padding-top:1rem;
  padding-right:1rem;
}
nav a:link, aside .backcol a:link{
   text-decoration:none;
   color:black;
}
nav a:visited, aside .backcol a:visited{
  text-decoration:none;
  color:black;
  
}
nav a:hover{
  transition-property: border-bottom, color;
  color: #4b48ff;
  transition-duration: 500ms;
  opacity:1;
  padding-bottom:1em;
  border-bottom: 4px solid #7777ff;
}
.navi{
  padding-bottom:1em;
  border-bottom: 4px solid #7777ff;    
}
.navi:link{
  padding-bottom:1em;
  border-bottom: 4px solid #7777ff;    
}
nav a:active{
  color:red;
  opacity:1.0;
}
nav a:focus{
  padding-bottom:1em;
  position:relative;
  border-bottom: 4px solid #7777ff;
}
main section img{
  position:relative;
  top:3.5em;
  left:1.5em;
  width:22em;
  height:auto;
  box-shadow: 0px 0px 5px 1px #000000;
  margin-top:10px;
  margin-right:20px;
}
main section span {
  position: relative;
  top:3.4em;
  right:10em;
  text-shadow: 0px 0px 10px 1px #000000; 
  font-size:1.2em;
  font-weight:600;
  display:inline-block;
  margin-bottom:50px;
  padding-bottom:2em;
}
.bottom_line{
  display:inline-block;
  position:relative;
  top:6em;
  right:27.3em;
  width:3.7em;
  border-bottom:0.2em solid #5757fa;
}
.loginbar:focus{
  outline: 2px solid #1FBC02;
}
/* .secline{
  position:inline-block;
  width:100%;
  height:40em;
  border: 0.5px solid #ececec;
  background-color: rgb(236, 243, 255);
} */
main aside .backcol a{
  position:relative;
  top:4em;
  opacity:0.7;
}
.excutive_line{
  display: inline-block;
  position:relaive;
  left:30em;
}
.align_center{
  position:inline-block;
  margin:0 auto;
}
.big_head{
  position:inline-block;
  margin:0 auto;
  font-size:3em;
  font-weight:700;    
}