html, nav{
  margin:0;
  padding:0;
  text-align:center;
  width:100%;
  height:100%;
}
body{
  position:relative;
  display:inline-block;
  margin:0 auto;
  padding:0;
}
section, article, footer, aside{
  display:inline-block;
  font-family:'Noto Sans KR';
  font-weight:600;
}
.App a img{
  display:block;
  position: relative;
  bottom:2rem;
  right:22rem;
  width:18rem;
  height:auto;
  padding:3rem;
  margin:0 auto;
}
.loginButton a{
  position: relative;
  font-size:20px;
  top:1em;
  left:20em;
  text-decoration:none;
  font-weight:600;
  color:gray;
}
nav{
    display:inline-block;
    position:relative;
    left:10rem;
    bottom:11rem;
    margin-bottom:3em;
    font-family:'Noto Sans KR';
    font-weight:600;
  a{
    margin: 0rem 3rem 0rem 0rem;
    display:absolute;
    width:5rem;
    height:3rem;
    text-align:center;
    font-size:1.5rem;
    font-family:'Nanum Gothic', sans-serif;
    border-bottom: 4px solid #FFFFFF;
  }
  a:link, aside .backcol a:link{
    text-decoration:none;
    color:black;
 }
 a:visited, aside .backcol a:visited{
  text-decoration:none;
  color:black;
  
}
a:hover{
  transition-property: border-bottom, color;
  color: #4b48ff;
  transition-duration: 400ms;
  opacity:1;
  padding-bottom:1em;
  border-bottom: 4px solid #7777ff;
}
a:active{
  color:red;
  opacity:1.0;
}
a:focus{
  padding-bottom:1em;
  position:relative;
  border-bottom: 4px solid #7777ff;
}
} 


section{
  .banner img{
    position:relative;
    right:11rem;
    bottom:9rem;
    width:35rem;
    height:auto;
    transition:400ms ease all;
    box-shadow:0px 0px 8px 2px black;
  }
  button{
    background:rgb(199, 199, 199);
    color:#fff;
    border:none;
    position:relative;
    left:4rem;
    bottom:11.7rem;
    width:40px;
    height:40px;
    font-size:1.6em;
    cursor:pointer;
    transition:400ms ease all;
    outline:none;
    opacity:0.8
  }
  button:hover{
    opacity:0.9;
    box-shadow:0px 0px 3px 0.5px gray;
  }
  
  button span{
    font-style: 'Noto Sans KR';
    font-size:2rem;
    
  }
//   span :hover{
//    background-color: gray;
//    opacity:0.5;
//    text-shadow: 1px 1px 1px 5px solid gray;
//  }
//   span {
//    background-color: white;
//    opacity:1;
//    text-shadow: 1px 1px 1px 5px solid gray;
//    cursor: pointer;
//  }
}  
.bottom_line{
  display:inline-block;
  position:relative;
  top:6em;
  right:27.3em;
  width:3.7em;
  border-bottom:0.2em solid #5757fa;
}
.loginbar:focus{
  outline: 2px solid #1FBC02;
}
/* .secline{
  position:inline-block;
  width:100%;
  height:40em;
  border: 0.5px solid #ececec;
  background-color: rgb(236, 243, 255);
} */

.excutive_line{
  display: inline-block;
  position:relaive;
  left:30em;
}
.align_center{
  position:inline-block;
  margin:0 auto;
}
.big_head{
  position:inline-block;
  margin:0 auto;
  font-size:3em;
  font-weight:700;    
}